/*.header{
    position: absolute;
    top: 0%;
    background-color: blue;
    padding: 10px;
    width: 100%;
    height: 60px;
    
}*/
.header {
    background-color: #323233; 
    padding: 10px; 
    height: 85px;
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
    
    .logo{
        width: 100%;
        height: auto;
        bottom: 1000px;
    }
}
.header-text{
    font-size: 50px;
    font-style: italic;
    
    
    }

.navbar{
    position: relative;
    height: 30px;
}

.container{
    position: relative;
    /* background-color: red; */
    width: fit-content;
    left: 25%;
    top: 8px;
}

.nav-link{
    color: white;
    cursor: pointer;
}

.navbar-brand{
    color: white;
}

.dropdown{
    position: absolute;
    width: 150px;
    left: 15%;
    top: 1px;
    height: 70px;
}

.footer{
    position: absolute;
    top: 200%;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: blue;
    color: white;
}