/* .icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
}

.card{
    width: 230px;
    height: fit-content;
    display: flex;
    padding-bottom: 30px;
    justify-content: center;
    margin-top: 80px;
   
} */

/* .card-body{
    display: flex;
    justify-content: center;
} */

 .container{
    /* position: absolute;
    display: flex; */
    width: fit-content;
    /* justify-content: center;
    background-color: gray;
    top: 0%; */
    height: fit-content;
}

/* .details{ 
    padding-top: 80px;
    background-color: gray;
}  */