<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="container" style="padding-top: 150px; width: 780px">
        <div>
          <h2>Devices</h2>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>State</th>
                <!-- <th>links</th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let device of automation_devices
                    | paginate
                      : {
                          id: 'device_pagination',
                          itemsPerPage: 10,
                          currentPage: page,
                          totalItems: totalRecords
                        }
                "
              >
                <td>{{ device.device.name }}</td>
                <td>{{ device.state }}</td>
              </tr>
            </tbody>
          </table>
          <div>
            <!-- <pagination-controls id="device_pagination" (pageChange)="page = $event"></pagination-controls> -->
          </div>
        </div>
        <br />
        <br />
        <div>
          <h2>Actions</h2>
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Type</th>
                <th>Info</th>
                <!-- <th>Options</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of automation_events | paginate: { id: 'action_pagination',
    itemsPerPage: 10, currentPage: page, totalItems: totalRecords }">
                                <td>{{event.type}}</td>
                                <td>{{event.info}}</td> 
              <!-- <td>{{action.options}}</td> -->
               </tr> 
            </tbody>
          </table>
          <div>
            <!-- <pagination-controls id="action_pagination" (pageChange)="page = $event"></pagination-controls> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
