<div class="card">
    <div class="card-body">

        <div class="container">
            <img src="https://southafrica.co.za/images/gauteng-logo-786x613.jpg" alt="Image Description"
                class="icon-lg bg-primary rounded-3 text-white" />
        </div>

        <div class="details">
            <!-- <h4 class="m-0">Department Name</h4> -->
            <h2 class="card-text">{{ department.name }}</h2>
            <!-- <p class="card-text">{{ department.setup_key}}</p> -->
            <p class="card-text">{{ department.created_at }}</p>

        </div>


        <!-- <p class="card-text">{{ device.missing }}</p>
        <p class="card-text">{{ device.client_outdated }}</p>
        <p class="card-text">{{ device.last_checked_in }}</p>
        <p class="card-text">{{ device.serial_number }}</p>
        <p class="card-text">{{ device.ram_size }}</p>
        <p class="card-text">{{ device.online }}</p> -->
    </div>
</div>