

<!-- <head>
    <meta charset="utf-8" />

    <title>Sidebar left menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
    
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <div id="wrapper" class="wrapper-content">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a routerLink="/">Assets</a>
                </li>
                <li>
                    <a href="all-devices">Devices</a>
                </li>
                <li>
                    <a href="departments">Departments</a>
                </li>
                <li>
                    <a href="automations">Automations</a>
                </li>
                <li>
                    <a href="control-zones">Control Zones</a>
                </li>
                <li>
                    <a href="TheMap">Map</a>
                </li>

                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div> -->
        <!-- <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                           
                        </div> -->
                        <div class="card"style="    width: 1200px;
                        height: 600px;">
                            <div class="card-body">
                                <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"
                                    (click)="createZone()"></mat-icon>
                            </div>

                            <div class="card1">
                                <div class="card-body1">
                                    <!-- <h2>Zones</h2> -->
                                    <br />
                                    <table class="table table-hover table-striped" style="height: 500px;
                                    width: 1100px;">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Latitude</th>
                                                <th>Longitude</th>
                                                <th>Radius</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="
                            let zone of zones
                              | paginate
                                : {
                                    id: 'zone_pagination',
                                    itemsPerPage: 10,
                                    currentPage: page,
                                    totalItems: totalRecords}">
                                                <td>{{ zone.name }}</td>
                                                <td>{{ zone.lat }}</td>
                                                <td>{{ zone.lng }}</td>
                                                <td>{{ zone.radius }}</td>
                                                <td>
                                                    <button (click)="zoneDetails(zone.name,zone.id)" style="height: 35px"
                                                        class="btn btn-outline-info me-2">
                                                        <mat-icon aria-label="edit icon" fontIcon="info"></mat-icon>
                                                    </button>
                                                    <button (click)="edit(zone.name)" style="height: 35px" type="button"
                                                        class="btn btn-outline-info me-2">
                                                        <mat-icon aria-label="edit icon" fontIcon="edit"></mat-icon>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <pagination-controls id="zone_pagination"
                                            (pageChange)="page = $event"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div>
                </div>
            </div>
        </div>
    </div>
</body> -->