/* @import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700");
body {
    background: #f4f3ef;
  }
  #map{
    top: 50px;
    height: 80vh;
    width: 100%;
}




  
p {
    margin: 2px 0px;
    padding: 0px;
    margin-bottom: 5px;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: #777;
}


a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
    color: #999;
}

hr {
    margin: 10px 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid #eee;
}

.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
}

.bg-red {
    background-color: #f75353 !important;
}

.bg-green {
    background-color: #51d466 !important;
}


.body {
    background: #f4f8fd;
}



header {
   
    padding: 10px;
    height: 60px;
    width: 100%;
    top: 0;

    .header-text {
        font-size: 30px;
        font-style: italic;
        text-align: center;
        color: #f7f7f9;
    }

    .logo {
        width: 100%;
        height: auto;
    }
} */