<div class="container">
    <div class="row">
        <div class="col" *ngFor="let device of devices">
            <app-device-card (click)="deviceDetails(device.key)" [device]="device"></app-device-card>
        </div>
    </div>
</div>

<!-- <div class="card">
    <div class="card-body">
        <h2>Devices</h2>
        <br>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Missing</th> 
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of devices | paginate: { id: 'device_pagination',
            itemsPerPage: 10, currentPage: page, totalItems: totalRecords }"> 
                    <td>{{device.name}}</td>
                    <td>{{device.missing}}</td>
                    <td>{{device.state}}</td>
                    <td>
                        <button (click)="deviceDetails(device.name)" class="btn btn-outline-info">
                            Details
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls id="device_pagination" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div> -->