.container{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    /* display: flex;
    justify-content: center; */
    position: absolute;
    top: 17px;
    left: 1px;
}
.container-fluid{
  width: 200;
}

.row{
    padding: 10px;
    width: auto;
}





