
  <!-- <head>
    <meta charset="utf-8" />

    <title>Sidebar left menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div id="wrapper" class="wrapper-content">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <a routerLink="/">Assets</a>
          </li>
          <li>
            <a href="all-devices">Devices</a>
          </li>
          <li>
            <a href="departments">Departments</a>
          </li>
          <li>
            <a href="automations">Automations</a>
          </li>
          <li>
            <a href="control-zones">Control Zones</a>
          </li>
          <li>
            <a href="TheMap">Map</a>
          </li>

          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12"> -->
              <div class="container">
                <div class="search-bar">
                  <input
                    type="text"
                    name="search"
                    [(ngModel)]="searchQuery"
                    (input)="filterData()"
                    placeholder="Search Devices..."
                  />
                </div>
                <div class="button-container">
                  <div class="row">
                    <div class="col">
                      <div *ngIf="view; else card">
                        <button class="btn btn-info" (click)="gridView()">
                          Grid View
                        </button>
                      </div>
                    </div>
                    <div class="col">
                      <button class="btn btn-info" (click)="generatePdf()">
                        Generate PDF
                      </button>
                    </div>
                  </div>
                  
                  
                </div>
                <div *ngIf="view; else grid">
                  <div class="row">
                    <div class="col" *ngFor="let device of TheDevices">
                      <app-all-devices-card
                        (click)="deviceDetails(device.id)"
                        [TheDevices]="device"
                      ></app-all-devices-card>
                    </div>
                  </div>

                </div>
                
              </div>

              <ng-template #card>
                <button class="btn btn-info" (click)="cardView()">
                  Card View
                </button>
              </ng-template>

              <ng-template #grid>
                <div class="card">
                  <div class="card-body">
                    <!-- <h2>Automations</h2> -->
                    <br>
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Operating System</th>
                          <th>Description</th>
                          <th>Missing</th>
                          <th>Outdated</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let device of TheDevices | paginate: { id: 'device_pagination',
                                      itemsPerPage: 10, currentPage: page, totalItems: totalRecords }">
                          <td>{{device.name}}</td>
                          <td>{{device.os_details.os}}</td>
                          <td>{{device.description}}</td>
                          <td>{{device.missing}}</td>
                          <td>{{device.client_outdated}}</td>
                          <td>
                            <button (click)="deviceDetails(device.name)" style="height: 35px;" type="button"
                              class="btn btn-outline-info me-2">
                              <mat-icon aria-label="info icon" fontIcon="info"></mat-icon>
                            </button>
                            <button (click)="missing(device.name)" style="height: 35px;" type="button"
                              class="btn btn-outline-primary me-2">
                              <mat-icon aria-label="clear icon" fontIcon="clear"></mat-icon>
                            </button>
                            <button (click)="lockScreen(device.name)" style="height: 35px;" type="button"
                              class="btn btn-outline-danger me-2">
                              <mat-icon aria-label="lock icon" fontIcon="lock"></mat-icon>
                            </button>
                            <button (click)="soundAlarm(device.name)" style="height: 35px;" type="button"
                              class="btn btn-outline-secondary me-2">
                              <mat-icon aria-label="alarm icon" fontIcon="alarm"></mat-icon>
                            </button>
                            <button (click)="locationActivity(device.name)" style="height: 35px;" type="button"
                              class="btn btn-outline-secondary me-2">
                              <mat-icon aria-label="location_on icon" fontIcon="location_on"></mat-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div>
                      <pagination-controls id="device_pagination" (pageChange)="page = $event"></pagination-controls>
                    </div>
                  </div>
                </div>

              </ng-template>
            <!-- </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->
