.container{
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    /* display: flex;
    justify-content: center; */
    position: absolute;
    top: 17px;
    left: 1px;
}
.container-fluid{
  width: 200;
}

.button-container{
  width: fit-content;
  position: absolute;
  left: 685px;
  top: -6px;
}

.card{
  margin-top: 30px;
  width: 1383px;
}

.row{
    padding: 10px;
    width: auto;
}





