<div class="movie-ticket">
    <div class="container-fluid" style="padding-top: 45px">
        <div class="ui-item">
            <div class="ui-head" style="left: 0%; right: 0%; width: 100%; height: 700px">

                <div class="ui-trans clearfix">
                    <img src="https://media.licdn.com/dms/image/C4D0BAQGyXV-cMgPn-w/company-logo_200_200/0/1657275405833/purple_wire_pty_ltd_logo?e=2147483647&v=beta&t=ifhz1PoMMQGGlcI7cixmxHVdqbfyhltnSzslezBFB10"
                        alt class="img-responsive" />

                    <div class="card"
                        style="position: absolute; left: 16px; top: 240px; width: fit-content; background-color: rgba(112, 112, 112, 0); color: white; border: transparent;">
                        <div class="card-body">
                            <mat-list>
                                <!-- <mat-list-item>Device Name</mat-list-item> -->
                                <h3>Device Name</h3>
                                <h5>{{details.name}}</h5>
                                <mat-divider></mat-divider>
                                <!-- <mat-list-item>User</mat-list-item> -->
                                <h3>User</h3>
                                <h5>{{details.user.email}}</h5>
                                <mat-divider></mat-divider>
                                <!-- <mat-list-item>Type</mat-list-item> -->
                                <h3>Type</h3>
                                <h5>{{details.type}}</h5>
                                <mat-divider></mat-divider>
                                <!-- <mat-list-item>Client Outdated</mat-list-item> -->
                                <h3>Missing</h3>
                                <h5>{{details.missing}}</h5>
                                <mat-divider></mat-divider>
                                <!-- <mat-list-item>Client Outdated</mat-list-item> -->
                                <h3>client Outdated</h3>
                                <h5>{{details.client_outdated}}</h5>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>
                    </div>

                    <!-- <div class="ui-details clearfix"> -->
                    <div class="card"
                        style="position: absolute; bottom: 0%; left: 16px; height: fit-content; width: fit-content; background-color: rgba(112, 112, 112, 0); color: white; border: transparent;">
                        <div class="card-body">
                            <mat-list>
                                <button (click)="missing(details.id)" class="btn btn-outline-light">
                                    Set as missing
                                </button>
                                <mat-divider></mat-divider>
                                <button (click)="lock(details.id)" class="btn btn-outline-light">
                                    Lock screen
                                </button>
                                <mat-divider></mat-divider>
                                <button (click)="arlet(details.id)" class="btn btn-outline-light">
                                    Arlet Message
                                </button>
                                <mat-divider></mat-divider>
                                <button (click)="alarm(details.id)" class="btn btn-outline-light">
                                    Sound Alarm
                                </button>
                                <mat-divider></mat-divider>
                                <button (click)="hardware()" class="btn btn-outline-light">
                                    Hardware
                                </button>
                            </mat-list>
                        </div>
                    </div>
                    <div class="card" style="position: relative; left: 300px; width: 1000px; height: 500px; top: -22%;">
                        <app-map></app-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>